    <div class="jumbotron text-center">
        <h1><span class="glyphicon glyphicon-lock"></span> Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default btn-social">
            <span class="fa fa-user"></span>
            Local Login
        </a>

        <a href="/signup" class="btn btn-default btn-social">
            <span class="fa fa-user"></span>
            Local Signup
        </a>

        <a href="/auth/facebook" class="btn btn-social btn-facebook">
            <span class="fa fa-facebook"></span>
            Facebook
        </a>

        <a href="/auth/twitter" class="btn btn-social btn-twitter">
            <span class="fa fa-twitter"></span>
            Twitter
        </a>

        <a href="/auth/google" class="btn btn-social btn-google-plus">
            <span class="fa fa-google-plus"></span>
            Google+
        </a>
    </div>
